# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/.vs

*.pdb


/Pix/Pix/.vs/X
/Pix/Pix/Pix/Debug
/Pix/Pix/Pix/Release
/Pix/Pix/Pix/x64
/Pix/Pix/X/Debug
/Pix/Pix/X/External/DirectXTK/Audio/Bin/Desktop_2019/Win32
/Pix/Pix/X/External/DirectXTK/Audio/Bin/Desktop_2019/x64
/Pix/Pix/X/External/DirectXTK/Bin/Desktop_2019
/Pix/Pix/X/External/FW1FontWrapper/x64/Debug
/Pix/Pix/X/External/FW1FontWrapper/x64/Release
